@CHARSET "UTF-8";

.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th
	{
	border: none;
}

.btn-color {
	background-color: #3F51B5;
}

.text-color {
	color: #000000;
}

a:.cancel-button {
	color: white !important;
}

.container-center {
	margin-top: 5%;
}

.dashboard-block {
	background-color: #C5CAE9;
	border-radius: 5px 5px 5px 5px;
	display: block;
	margin-bottom: 5px;
	opacity: 0.9;
	overflow: hidden;
	padding: 30px 20px;
	position: relative;
	color: #212121;
}

.dashboard-block .rotate {
	float: right;
	height: 100%;
	z-index: 8;
}

.dashboard-block .rotate i {
	bottom: 0;
	color: rgba(20, 20, 20, 0.15);
	display: block;
	left: auto;
	position: absolute;
	right: 0;
	transform: rotate(-40deg);
}

.dashboard-block .more {
	color: rgba(0, 0, 0, 0.25) !important;
	font-size: 16px;
	position: absolute;
	right: 10px;
	text-shadow: none;
	top: 10px;
}

.dashboard-block .details {
	float: left;
	margin-top: -10px;
	position: relative;
	text-align: left;
	z-index: 10;
}

.dashboard-block .title {
	display: block;
	font-size: 13px;
	margin-bottom: 1em;
	text-transform: uppercase;
}

.dashboard-block .sub {
	display: block;
	font-size: 32px;
}

.active-field {
	background-color: #303F9F;
	color: #fff !important;
}

.padding-map {
	margin-top: 15px;
	margin-bottom: 15px;
}

.color-button {
	cursor: pointer;
	float: left;
	font-size: 0;
	height: 14px;
	margin: 2px;
	width: 25px;
}

.font_marathi {
	font-family: kruti-dev;
	font-size: 14pt;
}

.font_mangal {
	font-family: mangal;
	font-size: 14pt;
}

.font_english {
	font-family: Verdana;
}

.map-text a:hover {
	text-decoration: none;
}

.marginUp {
	margin-top: -2cm;
}

.centerdiv {
	margin: 50px;
	width: 70%;
	padding: 130px;
}

.align_left {
	text-align: left !important;
}

table th {
	width: auto !important;
}

.header {
	color: #523F6D;
}

.bank_id_td {
	width: 90;
}

.menu_color {
	color: blue;
}

.twitter-typeahead {
	width: 100%;
}

.number {
	text-align: right;
}

.twitter-typeahead .tt-query, .twitter-typeahead .tt-hint {
	margin-bottom: 0;
}

.amount {
	text-align: right;
}

.pullspanright {
	margin-right: -55%;
	margin-top: -11%;
}

.pullspanPlace {
	margin-right: -18%;
	margin-top: -9%;
}

.pullspanadmin {
	margin-right: -15%;
	margin-top: -9%;
}

.pullspanleft {
	margin-right: -14%;
	margin-top: -9%;
}

.modal-dialog {
	overflow-y: initial !important
}

.modal-body {
	overflow-y: auto;
}

.margin-top-1 {
	margin-top: 1%;
}

.tt-dropdown-menu {
	min-width: 160px;
	margin-top: 2px;
	padding: 5px 0;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0, 0, 0, .2);
	*border-right-width: 2px;
	*border-bottom-width: 2px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	width: 100%;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
}

.tt-suggestion.tt-is-under-cursor {
	color: #fff;
	background-color: #018c75;
	background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc),
		to(#0077b3));
	background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
	background-image: -o-linear-gradient(top, #0088cc, #0077b3);
	background-image: linear-gradient(to bottom, #0088cc, #0077b3);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc',
		endColorstr='#ff0077b3', GradientType=0)
}

.control-label {
	text-align: left !important;
	text-transform: capitalize;
}

.tt-suggestion.tt-is-under-cursor a {
	color: #fff;
}

.container {
	padding-left: 10 !important;
	padding-right: 10 !important;
}

.tt-suggestion p {
	margin: 0;
}

.required::AFTER {
	content: '*';
	color: red;
}

/* Nav Messages */
.messages-dropdown .dropdown-menu .message-preview .avatar,
	.messages-dropdown .dropdown-menu .message-preview .name,
	.messages-dropdown .dropdown-menu .message-preview .message,
	.messages-dropdown .dropdown-menu .message-preview .time {
	display: block;
}

.messages-dropdown .dropdown-menu .message-preview .avatar {
	float: left;
	margin-right: 15px;
}

.messages-dropdown .dropdown-menu .message-preview .name {
	font-weight: bold;
}

.messages-dropdown .dropdown-menu .message-preview .message {
	font-size: 12px;
}

.messages-dropdown .dropdown-menu .message-preview .time {
	font-size: 12px;
}

/* Nav Announcements */
.announcement-heading {
	font-size: 50px;
	margin: 0;
}

.announcement-text {
	margin: 0;
}

.form_top_margin {
	margin-top: 1%;
}
/* Table Headers */
table.tablesorter thead {
	cursor: pointer;
}

table.tablesorter thead tr th:hover {
	background-color: #f5f5f5;
}
/* to vertically align elements*/
html, body {
	height: 100%;
	margin: 0;
	padding: 0
}

.container-fluid {
	height: 100%;
	display: table;
	width: 100%;
	padding: 0;
}

.login-margin {
	margin-top: 4%;
}

.row-fluid {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

.centering {
	display: flex;
	flex-direction: row;
	/*  width : 300px;
    height : 800px;
    display : table-cell; 
    vertical-align : middle;
    border : 1px solid red;
    float:left;  */

	/* vertical-align: middle;
   float: left;
  align-items: center;
   */
	/*  float:left;
  align-items: center;
  margin:0 auto; */
}
/* Flot Chart Containers */
.flot-chart {
	display: block;
	height: 400px;
}

.flot-chart-content {
	width: 100%;
	height: 100%;
}

.progress_dialog {
	margin-top: 15%;
}

/* 	Customize file Uplode	 */
.btn-file {
	position: relative;
	overflow: hidden;
	width: 80%;
	height: 80%;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

@media ( min-width :1280px) {
	.align-left-criteria {
		margin-left: 10%;
	}
}

@media ( max-width :1280px) {
	.align-left-criteria {
		margin-left: 12%;
	}
}

@media ( min-width :1280px) {
	.align-left-criteria-towed {
		margin-left: 6%;
	}
}

@media ( max-width :1280px) {
	.align-left-criteria-towed {
		margin-left: 3%;
	}
}

@media ( min-width :1280px) {
	.align-left-add_sym {
		margin-left: 10%;
	}
}

@media ( max-width :768px) {
	.align-left-add_sym {
		margin-left: 12%;
	}
}

@media ( max-width :1280px) {
	.align-left-empMst-search {
		margin-left: 7%;
	}
}

@media ( min-width :1300px) {
	.align-left-empMst-search {
		margin-left: 13%;
	}
}

@media ( min-width :750px) {
	.search_box_margin {
		margin-left: 25%;
	}
}

@media ( min-width :750px) {
	.transaction {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}
	.add_sign_margin {
		margin-left: 56%;
	}
	.frequent_Btn__margin {
		margin-left: 52%;
	}
	.search_div_add_margin {
		margin-left: 69%;
	}
	.search_div_add_margin_tapaal {
		margin-left: 51.5%;
	}
	.search_div_margin {
		margin-left: 73%;
	}
	.add_icon {
		margin-left: 0.8%;
	}
	.search_div_margin_excavation {
		margin-left: 37.8%;
	}
	.search_div_margin_tapaal {
		margin-left: 55%;
	}
	.search_div_margin_grievance {
		margin-left: 54%;
	}
	.search_div_margin_verifypoliceofficers {
		margin-left: 79%;
	}
	.search_div_margin_usermaster {
		margin-left: 54%;
	}
	.search_div_margin_towing_fee {
		margin-left: 68%;
	}
	.count_margin_top {
		margin-top: 1%;
	}
	.search_div_margin_excavation_add {
		margin-left: 33.5%;
	}
	.search_div_margin_event_add {
		margin-left: 47.5%;
	}
	.search_div_margin_event {
		margin-left: 52%;
	}
	.search_box_citizen_margin {
		margin-left: 76%;
	}
	.report_sign {
		margin-left: 71%;
		margin-top: 1%;
	}
	.back_btn_left_margin {
		margin-left: 1.3%;
	}
}

}
body {
	padding-top: 90px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
}

.panel-login>.panel-heading a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #029f5b;
	font-size: 18px;
}

.panel-login>.panel-heading hr {
	margin-top: 10px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.panel-login input[type="text"], .panel-login input[type="email"],
	.panel-login input[type="password"] {
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover, .panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #ccc;
}

.btn-login {
	background-color: #59B2E0;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #59B2E6;
}

.btn-login:hover, .btn-login:focus {
	color: #fff;
	background-color: #53A3CD;
	border-color: #53A3CD;
}

.forgot-password {
	text-decoration: underline;
	color: #888;
}

.forgot-password:hover, .forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #1CB94E;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #1CB94A;
}

.btn-register:hover, .btn-register:focus {
	color: #fff;
	background-color: #1CA347;
	border-color: #1CA347;
}

.col-xs-6 {
	margin-left: -3%;
}

.col-sm-offset-8-5 {
	margin-left: 71.667%;
}

.mar-top-1 {
	margin-top: 1%;
}

.dtls {
	
}

.dtls > thead > tr > th, .dtls > tbody > tr > th {
	width: 35% !important;
}